.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.product-recommendations .swiper-wrapper,
.product-recommendations [grid-recommendation] {
  align-items: stretch;
}

.product-recommendations .swiper-slide,
.product-recommendations [grid-recommendation] > div {
  height: auto;
  display: flex;
}

.product-recommendations .swiper-slide > div,
.product-recommendations [grid-recommendation] > div > .product__card {
  width: 100%;
}

.product-recommendations .product__card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-recommendations .product__card__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.product-recommendations .product__card__title {
  min-height: 7.4rem;
}

.product-recommendations .product__card__title a {
  -webkit-line-clamp: 4;
}

.product-recommendations .product__card__price {
  min-height: 6rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product-recommendations .product__card__price .price__regular,
.product-recommendations .product__card__price.price--on-sale .price__sale {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.product-recommendations .product__card__price:not(.price--on-sale) .price__regular {
  padding-top: 1.4rem;
}

.product-recommendations .product__card .product--color-swatch-wrapper {
  min-height: 3.8rem;
  margin-top: 0.8rem;
}

.product-recommendations .product__card .product-card-action-buttons {
  margin-top: auto;
}

@media only screen and (max-width: 749px) {
  .product-recommendations .product__card__title {
    min-height: 6.2rem;
  }

  .product-recommendations .product__card__price {
    min-height: 5.4rem;
  }

  .product-recommendations .product__card .product--color-swatch-wrapper {
    min-height: 3.4rem;
  }
}
